.btn-Verify {
    border: 1px solid !important;
    border-color: rgb(0, 155, 8)!important;
    color:rgb(0, 155, 8)!important;
    padding: 10px!important;
    border-radius: 0!important;
    transition: 500ms;
}

.btn-Verify:hover {
    color: white!important;
    background-color: rgb(0, 155, 8)!important;
}

