.btn-Login {
    border: 1px solid !important;
    border-color: black!important;
    padding: 10px!important;
    border-radius: 0!important;
    transition: 500ms;
}

.btn-Login:hover {
    color: white!important;
    background-color: black!important;
}

.btn-LoginGoogle {
    color:black!important;
    padding: 10px;
    border-radius: 0!important;
    transition: 500ms;
}

.btn-LoginGoogle:hover {
    color: white!important;
    background-color: black!important;
}