@media (max-width: 768px) {
    .flexProductPage {
      flex-direction: column; /* Khi màn hình nhỏ, chuyển sang dạng cột */
      align-items: center; /* Căn giữa */
    }
  }

.itemViewActions button.active svg {
    color:#ff5252!important;
    opacity: 1;
}