.slidebar .scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

.slidebar .scroll::-webkit-scrollbar {
    width: 5px!important;
    height: 5px!important;
}

.slidebar .scroll::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0)!important;
}

.range-slider {
    height:2px!important;
}
.range-slider .range-slider__thumb {
    width: 10px!important;
    height: 10px!important;
}
.range-slider .range-slider__thumb,.range-slider .range-slider__range {
    background-color: black!important;
}