/* PSEUDO ELEMENT ( Phần tử giả )*/

/* ::placeholder: Được sử dụng cho các trình duyệt hiện đại.
::-webkit-input-placeholder: Được sử dụng cho các trình duyệt dựa trên WebKit như Chrome và Safari.
::-moz-placeholder: Được sử dụng cho các phiên bản Firefox cũ hơn.
:-ms-input-placeholder: Được sử dụng cho Internet Explorer. */

.searchBox input::placeholder,
.searchBox input::-moz-placeholder,
.searchBox input::-webkit-input-placeholder {
    color: #000 !important;
    padding-left: 4px;
    opacity: 0.5;
}

.searchBox input {
    color: #000 !important;
}