.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    /* Màu của nút */
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền của nút */
    border-radius: 50%;
    /* Bo tròn nút */
    width: 40px;
    /* Chiều rộng của nút */
    height: 40px;
    /* Chiều cao của nút */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* Đảm bảo nút nằm trên cùng */
    position: absolute;
    /* Đảm bảo nút không bị ảnh hưởng bởi các phần tử khác */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Màu nền khi hover */
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 16px;
    /* Kích thước biểu tượng */
}