.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fff;
  }
  
  